# 基础依赖
pyqt5==5.15.9
pyautogui==0.9.54
opencv-python==4.8.0.76
pyperclip==1.8.2
pywin32==306
requests==2.31.0
pillow==10.0.0
numpy==1.26.4
Pillow

# 视频处理
ffmpeg-python==0.2.0

# 其他工具
tqdm==4.66.1
psutil==5.9.5